@import "~element-ui/packages/theme-chalk/src/button.scss";

.el-button {
    line-height: 1.5;

    svg {
        pointer-events: none !important;
    }

    &--primary {
        border-radius: $--border-radius-small;
    }

    &--block {
        display: block;
        width: 100%;

        + .el-button {
            margin: 1rem 0 0;
        }
    }

    &--half {
        width: calc(50% - .5rem);
    }

    &.is-circle {
        padding: .75rem;
        border: none;
        box-shadow: $--box-shadow-md;
    }

    &.is-disabled,
    &:disabled {
        opacity: .75;
        pointer-events: none !important;

        .el-icon--svg {
            svg path, g {
                stroke: $--color-gray-light;
            }
        }
    }

    + .el-button {
        margin-left: 1rem;
    }
}
