.el-button.el-button--link {
    padding: 0 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: $--color-orange;

    &.el-button--light {
        color: $--color-white;
    }
}
