.el-button.el-button--seamless {
    background-color: transparent;
    border: none;
    padding: .5rem .75rem;

    display: flex;
    align-items: center;

    @include hover-focus {
        opacity: .75;
        background-color: transparent;
    }
}
