.el-img {
    width: 100%;
    height: 100%;

    &--cover {
        object-fit: cover;
        font-family: "object-fit: cover";
    }

    &--contain {
        object-fit: contain;
        font-family: "object-fit: contain";
    }
}
