// app global css in SCSS form
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* josefin-sans-regular - vietnamese_latin-ext_latin */
@font-face {
    font-family: "josefin";
    src: url("../assets/josefin-sans.woff") format('woff');
    src: url("../assets/josefin-sans.woff2") format('woff2');
}

/* inter-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: "inter";
    src: url("../assets/inter.woff") format('woff');
    src: url("../assets/inter.woff2") format('woff2');
}

.text-h1 {
    font-family: 'josefin',sans-serif;
}

.text-h2 {
    font-family: 'josefin',sans-serif;
}

.text-h3 {
    font-family: 'josefin',sans-serif;
}

.text-h4 {
    font-family: 'josefin',sans-serif;
}

.text-h5 {
    font-family: 'josefin',sans-serif;
}

.text-h6 {
    font-family: 'josefin',sans-serif;
}

.text-subtitle1 {
    font-family: 'josefin',sans-serif;
}

* {
    font-family: 'inter',sans-serif;
}
