.el-card.el-card--link {
    display: flex;
    align-items: center;
    height: auto;
    margin: 0 0 1rem;

    @include res('sm-and-up', $--breakpoints-spec) {
        margin: 0 0;
    }

    .el-card__icon {
        height: 3rem;
        width: 3rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: $--border-radius-base;
        background-color: $--color-gray-lightest;
    }

    .el-card__header {
        margin: 0 0 0 1rem;

        h2 {
            margin: 0 0;
        }
    }

    .el-card__footer {
        margin: 0 0;
    }
}


.el-card.el-card--link {
    &.el-card--orange {
        .el-card__icon {
            background-color: $--color-orange-light;

            svg path {
                stroke: $--color-orange;
            }
        }
    }

    &.el-card--yellow {
        .el-card__icon {
            background-color: $--color-yellow-light;

            svg path {
                stroke: $--color-yellow;
            }
        }
    }
}