// @import "~element-ui/packages/theme-chalk/src/icon.scss";

.el-icon {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &--svg {
        svg {
            height: 1.25rem;
            width: 1.25rem;
        }

        &:not(.el-icon--light) path, g {
            stroke: $--color-gray;
        }
    }

    &--light {
        &.el-icon--svg svg path {
            fill: $--color-white;
        }
    }

    &--error {
        &.el-icon--svg svg path {
            stroke: $--color-danger;
        }
    }

    &--md {
        svg {
            height: 1.75rem;
            width: 1.75rem;
        }
    }

    &--lg {
        svg {
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}
