.el-main {
    position: relative;
    // z-index: 250;
    padding: 1rem 0 0;
    margin: -2.5rem 0 0;

    border-radius: $--border-radius-large;
    background-color: $--color-gray-lightest;

    &--has-quicknav {
        padding-top: 0;
    }
}
