@import "~element-ui/packages/theme-chalk/src/input.scss";

.el-input {
    &__inner {
        border-radius: $--border-radius-small;
    }

    &__icon {
        &.el-icon.el-icon--svg {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__prefix {
        // left: -.125rem;
    }
}
