@import "~element-ui/packages/theme-chalk/src/radio.scss";
@import "~element-ui/packages/theme-chalk/src/radio-button.scss";

.el-radio {
    &.is-bordered {
        display: block;
        width: 100%;
        border-radius: $--border-radius-small;
        height: auto; // reset fixed height for improved alignment and size

        + .el-radio.is-bordered {
            margin: 1rem 0 0;
        }
    }
}