@import "~element-ui/packages/theme-chalk/src/form.scss";
@import "~element-ui/packages/theme-chalk/src/form-item.scss";

.el-form {
    .el-form-item {
        margin: 0 0;
        padding: .5rem 0;

        &__error {
            display: none;
        }

        &--bordered {
            padding: .875rem 0;

            + .el-form-item.el-form-item--bordered {
                border-top: $--border-width-base $--border-style-base $--border-color-base;
            }
        }
    }

    .el-button {
        margin: 1rem 0 0;
    }
}
