.el-message {
    height: calc(100vh - 10rem);
    display: flex;
    align-items: center;

    &__inner {
        text-align: center;
        max-width: 20rem;
        margin: 0 auto;
        padding: 2rem 0;
    }

    &__icon {
        margin: 0 0 1rem;
    }

    &__title {}
    &__content {}
}
