bcrypt
docker
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
natsort
python-dotenv
python-networkmanager @ git+https://github.com/balena-io-experimental/python-networkmanager@2022d7f26a12e2e5c028b9df55dd8e73a219a8f4
requests
waitress
