.el-section.el-section--quicknav {
    .el-section__inner {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;

        @include res('sm-and-up', $--breakpoints-spec) {
            flex-direction: row;
            justify-content: space-between;
        }

        > div {
            @include res('sm-and-up', $--breakpoints-spec) {
                width: calc(50% - 2rem - 1rem);
            }
        }
    }
}
