.el-quicknav {
    padding: 1.25rem 0 2.5rem;

    /**
     * Container
     */

    &__inner {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;

        @include res('sm-and-up', $--breakpoints-spec) {
            flex-direction: row;
            justify-content: space-between;
        }

        > div {
            @include res('sm-and-up', $--breakpoints-spec) {
                width: calc(50% - 2rem - 1rem);
            }
        }
    }


    /**
     * Quicknav Card
     */

    &__item {
        display: flex;
        align-items: center;

        position: relative;
        padding: 1.25rem;
        margin: 0 0 1rem;

        border-radius: $--border-radius-base;
        background-color: $--color-white;

        transition: all .2s ease;

        &--orange {
            .el-quicknav__icon {
                background-color: $--color-orange-light;

                svg path {
                    stroke: $--color-orange;
                }
            }
        }

        &--yellow {
            .el-quicknav__icon {
                background-color: $--color-yellow-light;

                svg path {
                    stroke: $--color-yellow;
                }
            }
        }

        @include res('sm-and-up', $--breakpoints-spec) {
            margin: 0 0;
        }

        @include hover-focus {
            transform: translateY(-.125rem)
        }

        @include active {
            transform: scale(.975);
        }
    }

    &__icon {
        height: 3rem;
        width: 3rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: $--border-radius-base;
        background-color: $--color-gray-lightest;
    }

    &__header {
        margin: 0 0 0 1rem;

        h2 {
            margin: 0 0;
        }
    }

    &__link {
        a::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            pointer-events: auto;
            content: "";
            background-color: rgba(0,0,0,0);
        }
    }
}

