/*
**  Element UI Mixins
**
**  @description   n/a
**  @since         1.0.0
*/

@mixin res($key, $map: $--breakpoints) {
    @if map-has-key($map, $key) {
        @media only screen and #{inspect(map-get($map, $key))} {
            @content;
        }
    } @else {
        @warn "Undefined points: `#{$map}`";
    }
}



/*
**  Object-Fit
**
**  @description   n/a
**  @since         1.0.0
*/

@mixin object-fit($fit: fill, $position: null){
    -o-object-fit: $fit;
    object-fit: $fit;
    @if $position {
        -o-object-position: $position;
        object-position: $position;
    	font-family: 'object-fit: #{$fit}; object-position: #{$position}';
    } @else {
    	font-family: 'object-fit: #{$fit}';
    }
}



/**
 *  Hover-Focus
 *
 *  @description   n/a
 *  @since         1.0.0
 */

@mixin hover-focus {
    &:hover,
    &:focus {
        @content
    }
};



/**
 *  Hover
 *
 *  @description   n/a
 *  @since         1.0.0
 */

@mixin hover {
    &:hover {
        @content
    }
};



/**
 *  Active
 *
 *  @description   n/a
 *  @since         1.0.0
 */

@mixin active {
    &:active {
        @content
    }
};
