.el-button.el-button--link {
    padding: 0 0;
    border: none;
    background-color: transparent;

    span {
        display: flex;
        align-items: center;
    }

    @include hover-focus {
        opacity: .75;
        color: $--color-white;
        background-color: transparent;
    }
}
