.el-button.el-button--transparent {
    border: none;
    padding: .5rem .75rem;
    background-color: transparent;

    display: flex;
    align-items: center;

    @include hover-focus {
        opacity: .75;
        background-color: transparent;
    }
}
