.el-button.el-button--settings {
    border: none;
    border-radius: 0;

    padding: 1rem 0;
    background-color: transparent;

    &:hover,
    &:focus {
        background: transparent;
    }

    span {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    span > span > i {
        font-size: 0;
        padding: .5rem;
        margin: 0 1rem 0 0;
        border-radius: $--border-radius-small;
        background-color: $--color-gray-lightest;
    }

    + .el-button--settings {
        margin: 0 0;
        border-top: $--border-width-base $--border-style-base $--border-color-base;
    }
}
