@import "~element-ui/packages/theme-chalk/src/button.scss";

.el-button {
    line-height: 1.5;

    svg {
        pointer-events: none !important;
    }

    &.el-button--block {
        display: block;
        width: 100%;

        + .el-button {
            margin: 1rem 0 0;
        }
    }

    &.el-button--half {
        width: calc(50% - .5rem);
    }

    &.el-button--light {
        color: $--color-white;
    }

    &.is-disabled,
    &:disabled {
        opacity: .75;
        pointer-events: none !important;

        .el-icon--svg {
            svg path, g {
                stroke: $--color-gray-light;
            }
        }
    }

    + .el-button {
        margin-left: 1rem;
    }
}
